.nav-item{
  font-size: 150%;
}

.navbar-brand{
  margin: 10px;
}

.collapse{
  align-items: center;
}

.pad{
  padding-left: 5%;
  padding-right: 2%;
}

.header_fixed {
  width: 100%;
  z-index: 100;
  position: sticky;
  left: 0;
  top: 0;
}
