<nav class="navbar navbar-light bg-dark paddl5">
  <form class="form-check-inline" [formGroup]="contactForm" (ngSubmit)="contactFormSubmit()" (input)="onChangeFormComplete()">
    <div class="d-lg-inline-flex">
      <input class="form-control mr-sm-2"
             [formControl]="definition"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of suitableOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="paddl5">
      <button class="btn btn-outline-success">Search</button>
    </div>
  </form>
</nav>
